@import "tailwindcss";

html {
    background-color: #060709;
    font-family: 'Geist', sans-serif;
}

.logo {
    width: 30px;
    height: 30px;
    margin: 0.7rem;
}

footer span {
    font-size: 0.8rem;
    text-align: center;
}

.home {
    text-decoration: none;
    color: white;
}

.footer-title {
    color: #7d7d7f;
}

.filters-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 1rem;
}

.filter-select {
    border: 1px solid #232426;
    border-radius: 8px;
    padding: 0.5rem;
    font-size: 1rem;
    background-color:#1A1B1D;
    color: white;
}

.filter-select option:hover {
    background-color: #212122;
}


.filter-select:disabled{
    border: 1px solid #232426;
    border-radius: 8px;
    padding: 0.5rem;
    font-size: 1rem;
    background-color:#545353;
    color: rgb(216, 215, 215);
}

@media screen and (min-width: 1024px) {
    footer {
        display: flex;
        flex-direction: row;
        margin: 1rem;
    }

    .filters-container {
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }
}

.content-area {
    display: flex;
    flex-direction: column;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.page-change-button {
    color: white;
    font-size: 0.9rem;
    text-decoration: none;
    border: none;
    background-color: #060709;
    cursor: pointer;
}

.page-change-button[disabled] {
    cursor: default;
    color: #7d7d7f;
    font-size: 0.9rem;
    text-decoration: none;
    border: none;
    background-color: #060709;
}

.page-selector {
    padding: 0.2rem 0.7rem 0.2rem 0.7rem;
    font-size: 0.9rem;
    color: white;
    display: flex;
    align-self: center;
}

.selector-selected {
    border: 2px solid #222325;
    border-radius: 5px;
}

.fallback-message {
    color: #7d7d7f;
    font-size: 1.2rem;
    text-align: center;
    margin-top: 2rem;
}